apiVersion: argoproj.io/v1alpha1
kind: EventSource
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"argoproj.io/v1alpha1","kind":"EventSource","metadata":{"annotations":{},"name":"amqp","namespace":"argo-events"},"spec":{"amqp":{"example":{"auth":{"password":{"key":"password","name":"my-secret"},"username":{"key":"username","name":"my-secret"}},"connectionBackoff":{"duration":"10s","factor":2,"jitter":0.2,"steps":5},"consume":{"autoAck":true,"consumerTag":"my-consumer-tag","exclusive":false,"noLocal":false,"noWait":false},"exchangeDeclare":{"autoDelete":false,"durable":true,"internal":false,"noWait":false},"exchangeName":"test","exchangeType":"fanout","jsonBody":true,"queueBind":{"noWait":false},"queueDeclare":{"autoDelete":false,"durable":false,"exclusive":true,"name":"my-queue-name","noWait":false},"routingKey":"hello","url":"amqp://rabbitmq-service.argo-events:5672"}}}}
  creationTimestamp: "2024-11-01T07:20:03Z"
  finalizers:
  - eventsource-controller
  generation: 2
  name: amqp
  namespace: argo-events
  resourceVersion: "3280697"
  uid: dd464a41-8f8b-4daf-9988-ebc37a6fe51a
spec:
  amqp:
    example:
      auth:
        password:
          key: password
          name: my-secret
        username:
          key: username
          name: my-secret
      connectionBackoff:
        duration: 10s
        factor: 2
        jitter: 0.2
        steps: 5
      consume:
        autoAck: true
        consumerTag: my-consumer-tag
      exchangeDeclare:
        durable: true
      exchangeName: test
      exchangeType: fanout
      jsonBody: true
      queueBind: {}
      queueDeclare:
        exclusive: true
        name: my-queue-name
      routingKey: hello
      url: amqp://my-rabbitmq.default:5672
status:
  conditions:
  - lastTransitionTime: "2024-11-01T07:36:42Z"
    status: "True"
    type: Deployed
  - lastTransitionTime: "2024-11-01T07:36:42Z"
    status: "True"
    type: SourcesProvided
